.container {
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
}

.table th {
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
}

.table td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f1f1f1;
}
/* 신고사유 */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 50%; /* 원하는 너비로 조정 */
}

/* 신고상태, 신고일시 */
.table th:nth-child(2),
.table td:nth-child(2){
    width: 12%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 20%; /* 원하는 너비로 조정 */
}

/* 신고당한 유저*/
.table th:nth-child(4),
.table td:nth-child(4) {
    width: 18%; /* 원하는 너비로 조정 */
}

.reportEdit {
    cursor: pointer;
    text-decoration-line: underline;
    text-underline-offset: 5px; /* 밑줄 간격 조정 */
    text-decoration-color: #864e5d;
}